@tailwind base;
@tailwind components;
@tailwind utilities;

/* small global polish to mimic screenshot */
html,body,#root {
  height: 100%;
}
body {
  background-color: #f8fafc; /* subtle gray */
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}